body {
    background: rgb(5, 5, 5);
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgDjxnh0-X5djL2V_ItFFQR0l2AAi9wZYMD3WUEcPgX3-10ETC1Wm97U0P-Ei6d_aeDng:wallpaperset.com/w/full/d/d/4/253410.jpg&usqp=CAU");
    background-repeat: no-repeat;
    background-position: left top;
    background-size:1369px;
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: arial;
}
#all-contents {
  max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(230, 108, 44);
   margin: 0 auto;
   margin-bottom: 20px;
    display: flex;
    padding: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: white;
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
#interests {
    color: white;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #000000;
}

/* main container area beneath menu */
main {
    background: rgb(230, 108, 44);
    display: flex;
}
.sidebar {
    margin-right: 25px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px silver ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
