body {
  margin: 0px;
}

canvas {
  background-color: lightgray;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo4oa_D9o8RUd9qOuTT1LRNHQU3SdM51_6OgHHti6iyHjj8HYDQhbI-BDvyzR6JHIcs4k:https://www.crushpixel.com/big-static19/preview4/fat-angry-man-3403184.jpg&usqp=CAU");
}

img {
  display: none;
}
